<div id="suggestionBoxes_${instanceId}" class="super-widget wcm-widget-class fluig-style-guide" data-params="suggestionBoxes.instance()">

<span style="cursor: pointer;" data-abrirModal class="fluigicon fluigicon-light-bulb fluigicon-thumbnail-lg"></span>

</div>